/* --------------------------------------------------------------------------------
Name:         main.css
Purpose:      CSS for Pyromaker
Author:       Alan O'Neill
Release Date: June 24, 2011
-------------------------------------------------------------------------------- */

.footnote {
    font-size : 60%;
  }


.sequence {
    background-color : white;
  }


.nojs {
    font-size : small;
  }


.colorPlot {
    display : table-cell;
  }


h1 {
    text-align : center;
  }


label {
    font-weight : bold;
  }


table, th, td {
    border-bottom-color : black;
    border-bottom-style : solid;
    border-bottom-width : thin;
    border-left-color : black;
    border-left-style : solid;
    border-left-width : thin;
    border-right-color : black;
    border-right-style : solid;
    border-right-width : thin;
    border-top-color : black;
    border-top-style : solid;
    border-top-width : thin;
  }


td, th {
    margin-bottom : 5px;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 5px;
  }


td {
    vertical-align : top;
  }

